# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

.venv/

# ==========================================
# IDE / Editor
# ==========================================

.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Python Packaging
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Testing
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Type Checkers
# ==========================================

.mypy_cache/
.pyright/

# ==========================================
# Logs
# ==========================================

*.log
